<article class="wframe" [class.is-min]="isMin" [class.is-max]="isMax" [class.is-normal]="isNormal" aria-label="Janela">

  <!-- titlebar vem do componente -->
  <app-window-top
    [title]="title"
    [isMax]="isMax"
    (dragIntent)="onTitlebarDown($event)"
    (minimize)="minimize()"
    (maximize)="maximize()"
    (restore)="restore()"
    (close)="close()">
  </app-window-top>

  <section class="wframe__content"><ng-content></ng-content></section>

  <!-- grips com diretiva -->
  <div class="wframe__grip-n"  wGrip="n"  (gripDown)="onGripDown($event)" title="Redimensionar"></div>
  <div class="wframe__grip-s"  wGrip="s"  (gripDown)="onGripDown($event)" title="Redimensionar"></div>
  <div class="wframe__grip-e"  wGrip="e"  (gripDown)="onGripDown($event)" title="Redimensionar"></div>
  <div class="wframe__grip-w"  wGrip="w"  (gripDown)="onGripDown($event)" title="Redimensionar"></div>
  <div class="wframe__grip-ne" wGrip="ne" (gripDown)="onGripDown($event)" title="Redimensionar"></div>
  <div class="wframe__grip-nw" wGrip="nw" (gripDown)="onGripDown($event)" title="Redimensionar"></div>
  <div class="wframe__grip-se" wGrip="se" (gripDown)="onGripDown($event)" title="Redimensionar"></div>
  <div class="wframe__grip-sw" wGrip="sw" (gripDown)="onGripDown($event)" title="Redimensionar"></div>
</article>
