<header class="shell__header" role="banner">
    <app-top-bar></app-top-bar>
</header>

<div class="shell__body" [style.gridTemplateColumns]="gridCols()">

    <aside class="shell__left" aria-label="Menu auxiliar (Helper)">
        <app-left-bar></app-left-bar>
    </aside>

    <main id="main-content" class="shell__main" tabindex="-1">
        <app-main-area></app-main-area>
    </main>

    <aside class="shell__right" aria-label="Painel de Logs">
        <app-right-bar></app-right-bar>
    </aside>
</div>

<!-- Overlay de Widgets (usará <dialog>)-->
<app-widgets-overlay></app-widgets-overlay>
