@use "sass:color";

.topbar{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 56px;
  padding: 0 12px;
  background: var(--surface-2);
  position: relative;
  --wm-offset-left: 112px;
}
.topbar__windows { justify-self: start; }
.topbar__widgets { justify-self: center; z-index: 3; }
.topbar__user    { justify-self: end; z-index: 3; }
